@media (max-width:480px) and (min-width:270px) {
    .btn-white{

        font-size: 8px;
        display: flex;
        align-items: center;
        border-radius:15px ;
        margin: 0 0.5rem;
        padding:2px 5px;

    }
    .logo{
        width: 100px;
    }
    nav .btn-white{
        margin-left: 1px !important;
    }
    .footer .d-j-flex{
        flex-direction: column;
        align-items: center;
    }
    .footer .d-j-flex .text-black{
        order: 2;
    }
    .flex-end{
        justify-content: center !important;
    }

    .custom-padd-mobile{
        
        padding: 5px 0;

        }
}
@media (max-width:1098px) and (min-width:1006px) {
.nft{
    width: 210px !important;
}
.nft-box{
    width: 210px !important;
}
}


@media (max-width:820px) and (min-width:500px) {

    .logo{

        width: 200px;

    }

    
}